<div id="footer">
    <div class="container">
        <div class="row">
              <div class="col-md-4">
                <center>
                  <img src="app\assets\etsy_logo.png" class="img-circle" alt="the-brains">
                </center>
              </div>
              <div class="col-md-4">
                <center>
                  <img src="app\assets\facebook_logo.png" class="img-circle" alt="...">
                </center>
              </div>
              <div class="col-md-4">
                <center>
                  <img src="app\assets\instagram_logo.jpg" class="img-circle" alt="...">
                </center>
              </div>
            </div>
    </div>
</div>
