.shop-carousel{
  background: #E4E4E4;
  padding-top: 15px;
  padding-bottom: 15px;
  max-height: 500px;
}

.carousel-inner{
  max-height:500px;
}

.carousel-item{
  max-height:450px;
}

.shop-content{
  padding-top: 50px;
  padding-bottom:50px;
}

.shop-card-img{
  max-width:380px;
  max-height: 180px;
}

.shop-card{
  display:inline-block;
  margin-bottom: 30px;
  margin-right:30px;
}
