<div class="jumbotron jumbotron">
  <div class="container">
    <h1 class="display-3 text-center">Jewelry Gypsy Designs</h1>
    <p class="lead">
      <a class="home-btn text-center btn btn-outline-secondary btn-lg" href="/#!/home" role="button">Home</a>
      <a class="home-btn text-center btn btn-outline-secondary btn-lg" href="/#!/shop" role="button">Shop</a>
      <a class="home-btn text-center btn btn-outline-secondary btn-lg" href="/#!/contact" role="button">Contact</a>
      <a class="home-btn text-center btn btn-outline-secondary btn-lg" href="/#!/about" role="button">About</a>
    </p>
  </div>
</div>
