<ul class="nav  navbar-light p-2 mb-2 topNav">
<div class="col">
    <div class="row">

      <li class="nav-item">
          <a class="navbar-brand ml-2" href="/"><img id="navlogo" src="" alt="Jewelry Gypsy Desings"></a>
      </li>

      <li id="tabs" class="nav-item">
          <a class="nav-link disabled" href="/#!/shop">Shop</a>
      </li>

        <li id="tabs" class="nav-item some" >
          <a class="nav-link disabled" href="/#!/about">About</a>
      </li>

        <li id="tabs" class="nav-item some" >
        <a class="nav-link disabled" href="/#!/blog">Blog</a>
    </li>

        <li id="tabs" class="nav-item some" >
      <a class="nav-link disabled" href="/#!/contact">Contact</a>
  </li>

  </div>
</div>

</ul>
